html {
  /* font-size 기본 값은 16px */
  font-size: 0.625em;
}

body {
  font-size: 1em;
  font-family: 'Noto Serif KR', serif;
}

h1 {
  /* 2em = 16px * 2 */
  /* em단위는 부모로부터 상속 */
  font-size: 3rem;
}

/* rem단위는 무조건 root 기준으로만 계산 */

p {
  font-size: 2em;
  /* 단위를 생략 = 넘버 단위(무조건 현재 단락의 글자 크기와 곱함) */
  /* 현재 글자 크기 * 1.5 */
  /* line-height를 em, rem을 기준으로 계산시 상속받은 값으로 계산됨 != 1.5 */
  line-height: 1.5em;
}